@charset "utf-8";

/*------------------------------------------------------------------

[Sommaire]

01. Style général
02. 
03. 
04. 
05. 
06. 
07. 
08. 
09. 
10. 

-------------------------------------------------------------------*/

/*===================================================================
  01. General styles
================================================================== */

a {
    color: #535353;
}

/*===================================================================
  XX. Branding Header
================================================================== */

.navbar-default {
	background: #ffffff;
}

.navbar {
	background-image: none;
	border: none;
	padding: 8px 0px 8px 0px;
}

.navbar-right > li > a {
	
}

@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
	    margin-right: 0px;
	}
}	

/*===================================================================
  XX. Header
================================================================== */


/*===================================================================
  XX. Footer
================================================================== */



