@charset "utf-8";

/*------------------------------------------------------------------

[Sommaire]

01. Style général
02. Header
03. Footer
04. Tabs - catégories de 1er degré
05. Tabs - catégories de 2ème degré
06. Tabs - catégories de 3ème degré
07. Products pager + Champs rechercher
08. Tableaux produit
09. Pagination + Breadcrumb
10. Sidebar
11. Options couleurs standarts
12. Option transparent
13. Options matières (avec background-image)
14. Options caractéristiques
15. Message d'alerte si option non-disponible
16. Affichage du prix
17. Choix de quantité
18. Ajouter au panier
19. Photos produits
20. Description et caractéristiques
21. Panier - Règlement

-------------------------------------------------------------------*/

/*===================================================================
  01. Style général
================================================================== */

html {
    font-size: 62.5%;
}

a {
    color: #535353;
}

a:hover, 
a:focus {
    color: #535353;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.text-danger {
    color: #c0392b;
}

/*===================================================================
  02. Header
================================================================== */

.navbar-default {
    background: #ffffff;
}

.navbar {
    background-image: none;
    border: none;
    padding: 12px 0px 12px 0px;
}

.navbar-right > li > a {
    font-size: 1.5rem;
    -webkit-transition: none;
    transition: none;
}

.navbar-right > li > a:hover {
    color: #1691BE !important;
    -webkit-transition: none;
    transition: none;    
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #1691BE !important;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #1691BE !important;
    -webkit-transition: none;
    transition: none;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
	  margin-right: 0px;
	}
}

/*===================================================================
  03. Footer
================================================================== */

footer .hidden-print { /* À ENLEVER DANS LE CODE VOIR AVEC RAPHAËL */
    display: none;
}

/* Main styles */

footer {
    display: block;    
    margin-top: 80px;
    background: none;
}

.footer-wrapper {
}

/* Footer title */

.footer-title {
    background: #ecf0f1;
    border-top: 2px solid #a0a0a0;
    margin: 0;
}

.ftitle {
    text-align: center; 
    padding: 30px 0px 15px 0px;
}

.ftitle > .fa {
    font-size: 4rem;
    color: #7f8d92;
}

.ftitle > h4 {
    color: #7f8d92;
    font-size: 1.9rem;
    font-weight: normal;
}

/* Footer list */

.footer-list {
    margin: 0;
}

footer a:hover {
    color: #1691BE;
}

footer .fa {
    color: #7f8c8d;
}

footer ul, footer address, footer p  {
    padding: 15px 0px 0px 0px;
}

footer .horaires {
    color: #7f8c8d;
}

/*===================================================================
  04. Tabs - catégories de 1er degré
================================================================== */

.oe_website_sale .nav-tabs {
    height: 56px;
    background: #f8f9f9;
    border-bottom: 4px solid #1691BE !important; /* Couleur de base en cas d'erreur + extremité droite */
    margin-bottom: 0px; 
}

.oe_website_sale .nav.nav-tabs > li > a {
    height: 56px;
    margin-right: 0px;
    line-height: 1.42857143;
    border-radius: 0px;
    text-align: center;
    padding: 8px 6px 6px 6px;
    border: none;
    max-width: 114px;
    color: #484848;
    font-size: 1.34rem;
}

.oe_website_sale .nav.nav-tabs > li > a::after {
    content: '';
    width: 1px;
    height: 31px;
    background: #9BB4B9;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 0px;
}

.oe_website_sale .nav.nav-tabs > li > a:hover {
    background: #ecf0f1;
}

.oe_website_sale .nav.nav-tabs > li.active > a,
.oe_website_sale .nav.nav-tabs > li.active > a:hover,
.oe_website_sale .nav.nav-tabs > li.active > a:focus {
    background: #9BB4B9;
    color: #ffffff;
    border: none;
}

/* Masquage catégorie "Others" */   
.oe_website_sale .nav.nav-tabs > li > a[aria-controls="tab_others-1"] { display: none; }  

/* nav-tabs border color */
.oe_website_sale a[aria-controls="tab_0"]  { border-bottom: 4px solid #1691BE !important; padding: 17px 6px 0px 6px !important; }
.oe_website_sale a[aria-controls="tab_1"]  { border-bottom: 4px solid #e74c3c !important; padding: 17px 6px 0px 6px !important; }
.oe_website_sale a[aria-controls="tab_2"]  { border-bottom: 4px solid #FFBA00 !important; }
.oe_website_sale a[aria-controls="tab_3"]  { border-bottom: 4px solid #25C289 !important; }
.oe_website_sale a[aria-controls="tab_4"]  { border-bottom: 4px solid #8e44ad !important; }
.oe_website_sale a[aria-controls="tab_5"]  { border-bottom: 4px solid #166BA2 !important; }
.oe_website_sale a[aria-controls="tab_6"]  { border-bottom: 4px solid #e74c3c !important; padding: 17px 6px 0px 6px !important; }
.oe_website_sale a[aria-controls="tab_7"]  { border-bottom: 4px solid #FFBA00 !important; padding: 17px 6px 0px 6px !important; }
.oe_website_sale a[aria-controls="tab_8"]  { border-bottom: 4px solid #25C289 !important; }
.oe_website_sale a[aria-controls="tab_9"]  { border-bottom: 4px solid #8e44ad !important; }
.oe_website_sale a[aria-controls="tab_10"] { border-bottom: 4px solid #1691BE !important; }
.oe_website_sale a[aria-controls="tab_11"] { border-bottom: 4px solid #444B54 !important; }
.oe_website_sale a[aria-controls="tab_12"] { border-bottom: 4px solid #444B54 !important; }
.oe_website_sale a[aria-controls="tab_13"] { border-bottom: 4px solid #444B54 !important; }
.oe_website_sale a[aria-controls="tab_14"] { border-bottom: 4px solid #444B54 !important; }
.oe_website_sale a[aria-controls="tab_15"] { border-bottom: 4px solid #444B54 !important; }

/*===================================================================
  05. Tabs - catégories de 2ème degré
================================================================== */

/* Conteneur */
.oe_website_sale .tab-pane {
    background: #ffffff;
    min-height: 306px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

.oe_website_sale .tab-pane > div {
    display: inline-block;
    vertical-align: top;
    width: 33.333%;
    margin: 20px 0px 5px 0px;
    position: relative;
    top: 0;
    left: 0;
}

/* Bandeau coloré */
.oe_website_sale .tab-pane > div > h4 > a,
.oe_website_sale .tab-pane > div > h4 > a:focus,
.oe_website_sale .tab-pane > div > h4 > a:active {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 80%;
    color: #ffffff;
    font-size: 1.55rem;
    padding: 11px 0px 11px 126px;
    text-decoration: none;
    background: #444B54; /* Couleur de base en cas d'erreur */
}

.oe_website_sale #tab_0  > div > h4 > a { background: #1691BE; }
.oe_website_sale #tab_1  > div > h4 > a { background: #e74c3c; }
.oe_website_sale #tab_2  > div > h4 > a { background: #FFBA00; }
.oe_website_sale #tab_3  > div > h4 > a { background: #25C289; }
.oe_website_sale #tab_4  > div > h4 > a { background: #8e44ad; }
.oe_website_sale #tab_5  > div > h4 > a { background: #166BA2; }
.oe_website_sale #tab_6  > div > h4 > a { background: #e74c3c; }
.oe_website_sale #tab_7  > div > h4 > a { background: #FFBA00; }
.oe_website_sale #tab_8  > div > h4 > a { background: #25C289; }
.oe_website_sale #tab_9  > div > h4 > a { background: #8e44ad; }
.oe_website_sale #tab_10 > div > h4 > a { background: #1691BE; }
.oe_website_sale #tab_11 > div > h4 > a { background: #444B54; }
.oe_website_sale #tab_12 > div > h4 > a { background: #444B54; }
.oe_website_sale #tab_13 > div > h4 > a { background: #444B54; }
.oe_website_sale #tab_14 > div > h4 > a { background: #444B54; }
.oe_website_sale #tab_15 > div > h4 > a { background: #444B54; }


.oe_website_sale .tab-pane > div > h4 > a::after {
    position: absolute;
    width: 80%;
    height: 40%;
    left: 10%;
    border-radius: 50%;
    z-index: -1;
    bottom: 5px;
    content: "";
    box-shadow: 0 7px 16px rgba(0,0,0,0.4); 
}

/* Image de la catégorie */
.oe_website_sale .tab-pane > div > img {
    width: 98px;
    height: 98px;
    position: absolute;
    top: 22px;
    left: 13px;
}

/*===================================================================
  06. Tabs - catégories de 3ème degré
================================================================== */

.oe_website_sale .tab-pane > div > ul {
    width: 80%;
    padding-left: 126px;
}

.oe_website_sale .tab-pane > div > ul > li > a {
    display: block;        /* DEFAULT: présentation pas optimisée */
    display: -ms-flexbox;  /* OLD - IE 10 */
    display: -webkit-flex; /* OLD - Chrome */
    display: flex;         /* NORMAL */
}

.oe_website_sale .tab-pane > div > ul > li > a::before {
    content: '\f105';
    font-family: FontAwesome;
    color: #cccccc;
    padding-right: 6px;
}

/* Couleurs hover */
.oe_website_sale #tab_0  > div > ul a:hover { color: #1691BE; }
.oe_website_sale #tab_1  > div > ul a:hover { color: #e74c3c; }
.oe_website_sale #tab_2  > div > ul a:hover { color: #FFBA00; }
.oe_website_sale #tab_3  > div > ul a:hover { color: #25C289; }
.oe_website_sale #tab_4  > div > ul a:hover { color: #8e44ad; }
.oe_website_sale #tab_5  > div > ul a:hover { color: #166BA2; }
.oe_website_sale #tab_6  > div > ul a:hover { color: #e74c3c; }
.oe_website_sale #tab_7  > div > ul a:hover { color: #FFBA00; }
.oe_website_sale #tab_8  > div > ul a:hover { color: #25C289; }
.oe_website_sale #tab_9  > div > ul a:hover { color: #8e44ad; }
.oe_website_sale #tab_10 > div > ul a:hover { color: #1691BE; }
.oe_website_sale #tab_11 > div > ul a:hover { color: #444B54; }
.oe_website_sale #tab_12 > div > ul a:hover { color: #444B54; }
.oe_website_sale #tab_13 > div > ul a:hover { color: #444B54; }
.oe_website_sale #tab_14 > div > ul a:hover { color: #444B54; }
.oe_website_sale #tab_15 > div > ul a:hover { color: #444B54; }


/* Liste de 3ème catégorie sidebar de gauche  */
#products_grid_before {
    margin-top: 30px;
}

#products_grid_before a {
    background: none;
}

#products_grid_before a:hover {
    background: none;
    color: #a0a0a0;
}

/* <ul> nav-pills */
#products_grid_before > ul.nav-pills > li > a.active {
    color: #535353;
    font-size: 1.55rem;
    padding: 8px 0px 8px 0px;
}

#products_grid_before > ul.nav-pills > li > a.active::before {
    content: '\f146';
    font-family: FontAwesome;
    padding-right: 6px;
    color: #a0a0a0;
}

#products_grid_before > ul.nav-pills > li > a.active.collapsed::before {
    content: '\f0fe';
}

/* <ul> collapse */
#products_grid_before ul.collapse,
#products_grid_before ul.collapsing {
    padding: 0px;
}

#products_grid_before ul.collapse > li > a,
#products_grid_before ul.collapsing > li > a {
    display: block;        /* DEFAULT: présentation pas optimisée */
    display: -ms-flexbox;  /* OLD - IE 10 */
    display: -webkit-flex; /* OLD - Chrome */
    display: flex;         /* NORMAL */
    border-top: 1px solid #ecf0f1;
    padding: 4px 0px 4px 0px;
}

#products_grid_before ul.collapse > li > a.active,
#products_grid_before ul.collapsing > li > a.active {
    color: #1691BE;
}

/*===================================================================
  07. Products pager + Champs rechercher
================================================================== */

.tab-content + .products_pager {
    background: #ecf0f1;
    border-bottom: 2px solid #a0a0a0;
    margin-top: 0px;
}

/* Formulaire de recherche */
input.search-query.form-control {
    border-radius: 0;
}

span.input-group-btn > a.a-submit {
    border-radius: 0;
    background-image: none;
    background: #a0a0a0;
    border-color: #a0a0a0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*===================================================================
  08. Tableaux produit
================================================================== */

.oe_website_sale .tab-content {
    background-image: url('https://asler.akretion.com/img_perso/Site/library.jpg'); 
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 306px;
}

/* table */
#products_grid table {
    border-collapse: separate;
    border-spacing: 15px;
}

#products_grid .oe_product {
    border: none;
    background: #ECF0F1;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

#products_grid .oe_product:hover {
    background: #C6CCCE;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

#products_grid .oe_product::after {
    position: absolute;
    width: 80%;
    height: 40%;
    left: 10%;
    border-radius: 50%;
    z-index: -1;
    bottom: 0%;
    content: "";
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

.oe_product .oe_product_image {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 30px;
    text-align: center;
    overflow: hidden;
}

.oe_product .oe_product_image img {
    width: 100%;
    height: auto;
    margin: 0;
}

.oe_product section {
    border-top: none;
    background: rgba(255, 255, 255, 0.8);
}

.oe_product .product_price {
    color: #607279;
    font-size: 1.5rem;
}

/*===================================================================
  09. Pagination + Breadcrumb
================================================================== */

.pagination li > a {
    color: #7f8c8d;
    border: 1px solid #dddddd;
}

.pagination li > a:hover {
    background: #ECF0F1;
}

/* Bouton précédent */

.pagination li:first-child > a {
    background: #ECF0F1;
    border-radius: 0;
}

.pagination li:first-child > a:hover {
    background: #ECF0F1;
}

/* Bouton suivant */

.pagination li:last-child > a {
    background: #ECF0F1;
    border-radius: 0;
}

.pagination li:last-child > a:hover {
    background: #ECF0F1;
}

/* Breadcrumb */

.breadcrumb {
    background: #f7f9f9;
    padding: 8px 15px;
    border-radius: 0;
    border: 1px solid #cccccc;
}

/*===================================================================
  10. Sidebar
================================================================== */

#product_detail > div.row:last-child {
    display: block;        /* DEFAULT: présentation pas optimisée */
    display: -ms-flexbox;  /* OLD - IE 10 */
    display: -webkit-flex; /* OLD - Chrome */
    display: flex;         /* NORMAL */
}

#sidebar {
    background: #ECF0F1;
    color: #3E3E3E;
    margin-right: 15px;
}

/* Titre du produit */
#sidebar h1 {
    font-size: 34px;
}

/* Description courte produit */
#sidebar p.short_description {
    font-size: 1.6rem;
    padding: 13px 0px 0px 0px;
    color: #7D7D7D;
}

/* Intitulés produits */
#sidebar .js_product strong {
    font-size: 1.7rem;
    display: block;
    padding: 15px 0px 12px 0px;
}

/*===================================================================
  11. Options couleurs standarts
================================================================== */

#sidebar label.css_not_available:hover {
    cursor: not-allowed;
}

#sidebar .list-inline > li {
    padding-left: 0px;
    padding-right: 0px;
}

#sidebar label.css_attribute_color {
    margin-bottom: 0px;
    border: 4px solid #ECF0F1;
    position: relative;
    top: 0;
    left: 0;
}

#sidebar label.css_attribute_color.active {
    border: 4px solid #2ecc71;
}

#sidebar label.css_attribute_color.active::after {
    content: "\f00c";
    font-family: FontAwesome;
    color: #2ecc71;
    position: absolute;
    display: block;
    top: 3px;
    left: 8px;
    font-size: 2.3rem;
}

#sidebar label.css_attribute_color.css_not_available {
    background-image: none;
    opacity: 0.3;
}

#sidebar label.css_attribute_color.active.css_not_available {
    border: 4px solid #e74c3c;
}

#sidebar label.css_attribute_color.css_not_available::after {
    content: "\f05e";
    font-family: FontAwesome;
    position: absolute;
    display: block;
    top: 3px;
    left: 9px;
    font-size: 2.3rem;
}

#sidebar label.css_attribute_color.active.css_not_available::after {
    color: #e74c3c;
}

#sidebar label.css_attribute_color input {
    margin: 11px;
    height: 15px;
    width: 15px;
}

/*===================================================================
  12. Option transparent
================================================================== */

#sidebar label.css_attribute_color[style="background-color: transparent;"], /* Internet Explorer */
#sidebar label.css_attribute_color[style=""], /* Internet Explorer */
#sidebar label.css_attribute_color[style="background-color:Transparent"],
#sidebar label.css_attribute_color[style="background-color:#Transparent"] {
    border: 4px dotted #444B54 !important;  
}
#sidebar label.css_attribute_color.active[style="background-color: transparent;"], /* Internet Explorer */
#sidebar label.css_attribute_color.active[style=""], /* Internet Explorer */
#sidebar label.css_attribute_color.active[style="background-color:Transparent"],
#sidebar label.css_attribute_color.active[style="background-color:#Transparent"] {
    border: 4px dotted #2ecc71 !important;
    color: #2ecc71 !important;  
}
#sidebar label.css_attribute_color.active.css_not_available[style="background-color: transparent;"], /* Internet Explorer */
#sidebar label.css_attribute_color.active.css_not_available[style=""], /* Internet Explorer */
#sidebar label.css_attribute_color.active.css_not_available[style="background-color:Transparent"],
#sidebar label.css_attribute_color.active.css_not_available[style="background-color:#Transparent"] {
    border: 4px dotted #e74c3c !important;
    color: #e74c3c !important;  
}

/*===================================================================
  13. Options matières (avec background-image)
================================================================== */

/* règles de base background-image */
#sidebar label.css_attribute_color {
    background-size: 100%;
    background-repeat: no-repeat;
}

/* couleurs et matières particulières */

#sidebar label.css_attribute_color[style="background-color:Autre couleur avec supplément"] { 
    
    background-image: url('https://localhost:8443/asler/puces/quadri.png');

}




/*************************

À compléter avec le client 

**************************/





/*===================================================================
  14. Options caractéristiques
================================================================== */

/* Li */
#sidebar li.form-group.js_attribute_value {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 4px !important;
}

/* Label */

#sidebar label.control-label {
    margin: 0px 0px 0px 0px !important;
    position: relative;
    top: 0;
    left: 0;
}

#sidebar label.control-label:hover {
    margin: 0px 0px 0px 0px !important;
    cursor: pointer;
}

#sidebar label.control-label::before {
    content: "\f0c8";
    font-family: FontAwesome;
    color: #ffffff;
    position: absolute;
    display: block;
    top: 4px;
    left: 9px;
    z-index: 1;
    font-size: 2.2rem;
}

/* Label > Input */

#sidebar label.control-label > input {
    margin: 11px;
    height: 15px;
    width: 15px;
    position: relative;
    top: 0;
    left: 0;
}

#sidebar label.control-label > input:checked + span::before { /* Hack temporaire pour styliser checkbox (signe valider) */
    content: "\f00c";
    font-family: FontAwesome;
    color: #2ecc71;
    position: absolute;
    display: block;
    top: -6px;
    left: -31px;
    z-index: 2;
    font-size: 2.3rem;
}

/* Label > Span */

#sidebar label.control-label > span {
    max-width: 132px;
    display: inline-block;
    margin-top: 9px;
    position: relative;
    top: 0;
    left: 0;
}

#sidebar label.control-label > span.badge {
    display: none;
}

/*===================================================================
  15. Message d'alerte si option non-disponible
================================================================== */

#sidebar .css_not_available_msg.bg-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    margin-top: 20px;
}

/*===================================================================
  16. Affichage du prix
================================================================== */

#sidebar h4.oe_price_h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#sidebar h4.oe_price_h4 > b.oe_price {
    font-size: 3rem;
    font-weight: lighter;
}

/*===================================================================
  17. Choix de quantité
================================================================== */

.oe_cart span.input-group-addon, /* Panier */
#sidebar div.css_quantity.oe_website_spinner > span {
    border: none;
    border-bottom: 2px solid #1691BE;
    padding: 0px;
}
.oe_cart span.input-group-addon:hover, /* Panier */
#sidebar div.css_quantity.oe_website_spinner > span:hover {
    background: #F4F6F7;
    border-color: #F4F6F7;
    position: relative;
    top: 2px;
    left: 0px;
}
.oe_cart a.js_add_cart_json, /* Panier */
#sidebar div.css_quantity.oe_website_spinner a {
    color: #8199A3;
    background: #F4F6F7;
    padding: 8px 12px;
}
.oe_cart input.js_quantity, /* Panier */
#sidebar div.css_quantity.oe_website_spinner > input {
    border: none;
    border-top: 1px solid #E2E4E4;
    border-bottom: 1px solid #E2E4E4;
    background: #ffffff;
    color: #7f8c8d;
}

/*===================================================================
  18. Ajouter au panier
================================================================== */

.oe_cart a.btn-primary.pull-right,
#sidebar a.js_check_product.a-submit {
    background-image: none;
    background: #FFFFFF;
    text-shadow: none;
    border: none;
    border-bottom: 3px solid #1691BE;
    margin: 20px 0px 30px 0px !important;
    color: #1691BE;
}
.oe_cart a.btn-primary.pull-right:hover,
#sidebar a.js_check_product.a-submit:hover {
    background: #F4F6F7;
    border-bottom: 0px;
    position: relative;
    top: 3px;
    left: 0px;
    margin-bottom: 33px !important;
}

#sidebar a.js_check_product.a-submit::before {
    content: "\f07a";
    font-family: FontAwesome;
    margin-right: 9px;
}

/*===================================================================
  19. Photos produits
================================================================== */

#product_detail #images {
    border: 1px solid #ccc;
}

#product_detail .product_detail_img {
    min-height: 220px;
}

/* ///////////////////////////////////////////////////////// */
/* HACK TEMPORAIRE EN ATTENDANT CHANGEMENT DE CLASS AKRETION */
/* ///////////////////////////////////////////////////////// */

#product_detail .col-lg-7 { 
    width: 66.66666667%; 
}
#sidebar.col-lg-offset-1 { 
    margin-left: 0%; 
}

/* ///////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////// */

/*===================================================================
  20. Description et caractéristiques
================================================================== */

/* Style général */

#product_detail .feature {
    margin-top: 15px;
    background: #ecf0f1;
    position: relative;
    top: 0;
    left: 0;
    display: block; /* Anciens navigateurs */
    display: flex;
}

#product_detail .feature hr {
    display: none;
}

#product_detail .feature .text-muted {
    display: inline-block;
    width: 48.5%;
    color: #2d2d2d;
    background: #f7f9f9;
    padding: 12px 15px;
    border-radius: 12px;
    border-bottom: 2px solid #cccccc;
    position: relative;
    top: 0;
    left: 0;
}

/* Intitulé du paragraphe */

#product_detail .feature .text-muted::before {
    display: block;
    font-size: 1.7rem;
    margin-bottom: 6px;
    padding: 0px 0px;
}

/* Paragraphe CARACTÉRISTIQUES */

#product_detail .feature p.text-muted { 
    margin-right: 10px; 
    margin: 15px 7.5px 15px 15px; 
    float: left; 
}

#product_detail .feature p.text-muted::before { 
    content: 'Caractéristiques';
    color: #FFBA00; 
}

/* Paragraphe DESCRIPTION */

#product_detail .feature div.text-muted { 
    margin-left: 10px; 
    margin: 15px 15px 15px 7.5px; 
    float: right; 
} 

#product_detail .feature div.text-muted::before { 
    content: 'Description'; 
    color: #1691be; 
}

/* Liens vers nuancier */

#product_detail .feature a {
    display: block;
    width: 200px;
    margin: 3px 0px;
    padding: 6px 5px;
    border-radius: 5px;
    text-align: center;
    border-bottom: 2px solid #1691be;
    background: #ffffff;
    color: #1691be;
    position: relative;
    top: 0;
    left: 0;
}

#product_detail .feature a:hover {  
    border-bottom: 2px solid transparent;
    background: #F4F6F7;
    position: relative;
    top: 2px;
    left: 0;
}

#product_detail .feature a:active {  
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

/* Paragraphe VARIANTE */

#variant_descriptions {
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: 1;
}

p.variant_description.visible {
    background: #f7f9f9;
    color: #a0a0a0;
    font-size: 1.5rem;
    word-break: break-all;
    word-break: break-word;
    border-radius: 13px;
    padding: 3px 8px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

p.variant_description.visible::before {
    content: "\f00c";
    font-family: FontAwesome;
}

/*===================================================================
  21. Panier - Règlement
================================================================== */

/* Tableau récapitulatif */

.oe_cart .table-striped > tbody > tr:nth-child(odd)>td {
    background-color: #FFFFFF;
}

.oe_cart .table-condensed > tbody > tr > td {
      padding: 8px 5px 10px 5px;
}

.oe_cart .table > thead > tr > th {
    border-bottom: none;
}

.oe_cart .table > tbody > tr > td {
    border-top: 2px dashed #7f8c8d;
}

/* Bouton quantité */

.oe_cart span.input-group-addon {
    border: none;
    border-bottom: 2px solid #1691BE;
    padding: 0px;
}
.oe_cart span.input-group-addon:hover {
    background: #F4F6F7;
    border-color: #F4F6F7;
    position: relative;
    top: 2px;
    left: 0px;
}
.oe_cart a.js_add_cart_json {
    color: #8199A3;
    background: #F4F6F7;
    padding: 8px 12px;
}
.oe_cart input.js_quantity {
    border: none;
    border-top: 1px solid #E2E4E4;
    border-bottom: 1px solid #E2E4E4;
    background: #ffffff;
    color: #7f8c8d;
}

/* Bouton PRÉCÉDENT et SUIVANT */

.oe_cart a.btn-default,
.oe_cart a.btn-primary.pull-right {
    background-image: none;
    background: #F4F6F7;
    text-shadow: none;
    border: none;
    border-bottom: 3px solid #1691BE;
    margin-top: 20px !important;
    color: #1691BE;
    padding: 14px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.oe_cart a.btn-default:hover,
.oe_cart a.btn-primary.pull-right:hover {
    background: #F4F6F7;
    border-bottom: 0px;
    position: relative;
    top: 3px;
    left: 0px;
    margin-bottom: 35px !important;
}
